@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1279px){
	.block2{
		.mbox{
			.slider-conteiner{max-width: 1024px;
				.slick-arrow{width: 111px; min-height: 111px; top: 500px;
					&:before{content: none;}
					&.slick-prev{left: 25%; z-index: 50;
						
					}
					&.slick-next{right: 25%; z-index: 50;
						
					}
					img{width: 111px; min-height: 111px;
						
					}
				}
				.slide{
				&.slick-current+.slick-active{
					.wrapper-for-bubble{
						img{}
						.inner-image{
							img{
								
							}
						}
					}
					.text-content{
						.text-heading{
							h3{}
						}
						.main-text{
							p{}
						}
						.price{
							
						}
					}
				}
				.wrapper-for-bubble{
					&.bubble{
						.inner-image{ 
						}
					}
					.inner-image{
						img{
							
						}
					}
				}
				.text-content{
					.text-heading{
						h3{
							
						}
					}
					.main-text{
						p{
							
						}
					}
					.price{
						p{
							
						}
					}
				}
			}
			}
		}
	}
}
@media screen and (max-width: 1130px){
	
}
@media screen and (max-width: 1024px){
	.block2{
		.mbox{
			.slider-conteiner{max-width: 740px; top: -255px; left: 50%; margin-left: -370px;
				.slick-arrow{width: 95px; min-height: 95px; top: 470px;
					&:before{}
					&.slick-prev{ left: 26%;
						
					}
					&.slick-next{ right: 24%;
						
					}
					img{width: 95px; min-height: 95px;
						
					}
				}
				.slide{margin: 65px 30px 75px;
					&.slick-current{
						.wrapper-for-bubble{
							
						}
					}
					&.slick-current+.slick-active{
						.wrapper-for-bubble{ transform: scale(1.44);position:relative; top: 0;
							img{}
							.inner-image{top: 13px; left: 13px;max-width:165px; max-height: 165px;
								img{max-width:165px; max-height: 165px;
									
								}
							}
						}
						.text-content{padding: 50px 0 0 10px;
							.text-heading{margin-top :-15px;
							}
						}
						
					}
					.wrapper-for-bubble{max-width: 190px; max-height: 190px; min-width: 190px; min-height: 190px;
						
						img{max-width: 190px; max-height: 190px; }
						&.bubble2{ position:relative; top: -10px; }
						&.bubble{position:relative; top: -10px; 
							.inner-image{ top: 12px; left: 10px;
								img{max-width:168px; max-height: 168px;}
							}
						}
						.inner-image{position: absolute; top: 10px; left: 10px;max-width:247px; max-height: 247px;
							img{max-width:170px; max-height: 170px;
							}
						}
					}
					.text-content{padding: 0 5px; margin-top: -15px;
						.main-text{ padding: 0 5px;
						}
					}
				}
			}
			.condition{padding: 560px 0 220px 0;
				.cake-image{ top: 510px; left: 45px;max-width: 290px ; max-height:403px;
					
					&:hover{
						img{
							&:first-child{ min-width: 554px; min-height: 550px; left: -100px; top:-50px; }	
						}
					}
					img{
						&:first-child{display: none; }
						&:last-child{z-index: 5; position: relative;}
						
					}
				}
				.condition-content{padding: 60px 30px 0 0;
					img{ max-width:429px; max-height: 146px; right: 0px; top: 20px;}
					.cake-heading{max-width: 340px; 
						h2{font-family: 'Intro'; font-size:27px; white-space: pre-line; margin: 0px; line-height: 0.8;
							span{font-size: 55px
							} 
						}
					}
					.condition-text{position: relative; z-index: 5;display: inline-block; text-align: left;
						p{white-space: pre-line; font-size:  18px; font-family: 'CoreSansNR'; font-weight: 300; margin: 40px 45px 0 0; line-height: 1.3;}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1130px){
	.competition-block4{
		.mbox2{
			.block4-heading{
				h2{font-size: 45px;  font-weight: 400; 
					
				}
			}
			.block-4-slider-wrapper{max-width: 580px;  margin: 0  auto 0 ; 
				.slick-arrow{
					
					&.slick-prev{top: 115px; left: -40px;
						
					}
					&.slick-next{top: 115px; right: -14px;
						
					}
				}
				
			}
		}
	}
}
@media screen and (max-width: 767px){
	.block2{background-position: 50%; 
		.mbox{
			.slider-conteiner{max-width: 281px; top: -220px; left: 50%; margin-left: -140px;
				.slick-arrow{width: 75px; min-height: 75px; top: 500px;
					&.slick-prev{ left: 17%;
						
					}
					&.slick-next{ right: 17%;
						
					}
					img{width: 75px; min-height: 75px;
						
					}
				}
				.slide{margin: 65px 30px 75px;
					&.slick-current{
						.wrapper-for-bubble{
							
						}
					}
					&.slick-current{
						.wrapper-for-bubble{ transform: scale(1.44);position:relative; top: 0; margin: 0 auto;
							img{}
							.inner-image{top: 13px; left: 13px;max-width:165px; max-height: 165px;
								img{max-width:165px; max-height: 165px;
									
								}
							}
						}
						.text-content{padding: 40px 0 0 15px;
							.text-heading{margin-top :-15px;
							}
						}
						
					}
					.wrapper-for-bubble{max-width: 190px; max-height: 190px; min-width: 190px; min-height: 190px;
						
						img{max-width: 190px; max-height: 190px; }
						&.bubble2{ position:relative; top: -10px; }
						&.bubble{position:relative; top: -10px; 
							.inner-image{ top: 12px; left: 10px;
								img{max-width:168px; max-height: 168px;}
							}
						}
						.inner-image{position: absolute; top: 10px; left: 10px;max-width:247px; max-height: 247px;
							img{max-width:170px; max-height: 170px;
							}
						}
					}
					.text-content{padding: 0 5px; margin-top: -15px;
						.main-text{ padding: 0 5px;
						}
					}
				}
			}
			.condition{padding: 720px 0 110px 0;
				.cake-image{ top: 485px; left: 50%; margin-left: -100px;max-width: 202px ; max-height:265px; z-index:0; 
					
					&:hover{
						img{
							&:first-child{ display: none; }	
						}
					}
					img{
						&:first-child{display: none; }
						&:last-child{z-index: 0; position: relative;}
						
					}
				}
				.condition-content{padding: 0px 0px 0 0; align-items: center; 
					img{ max-width:429px; max-height: 146px; right: 50%; top: -50px; margin-right: -190px; z-index: 6;}
					.cake-heading{max-width: 280px; position: relative; z-index: 7;
						h2{font-family: 'Intro'; font-size:22px; white-space: pre-line; margin: 0px; line-height: 0.8;
							span{font-size: 45px
							} 
						}
					}
					.condition-text{ text-align: center;position: relative; z-index: 7;
						p{ margin: 65px 20px 0 0; line-height: 1.3;}
					}
				}
			}
		}
	}
	
	.competition-block4{padding-bottom: 40px;
		.mbox2{
			.block4-heading{padding: 50px 0 45px 0;
				h2{ line-height: 0.9;
					
				}
			}
			.block-4-slider-wrapper{ padding: 0 10px; min-width: 280px;
				.slick-arrow{
					&:before{content: none;}
					img{min-height: 40px; min-width: 21px;
					}
					&.slick-prev{top: 218px; left: 45px; filter: brightness(50%);z-index:999;
						
					}
					&.slick-next{top: 218px; right: 45px; filter: brightness(50%);z-index:999;
						
					}
				}
				.slide{ flex-direction: column;  min-height: 500px;  margin: 0 6px 0 9px;
					.image-wrapper{padding: 0 40px 45px 70px;
						img{}
					}
					.text-conteiner{ border-left: none; 
						.text-heading{  padding: 60px 5px 0 ; margin: 0 auto 0 0;  position: relative;
							&:before{content: ""; display: block;  position: absolute; min-width: 150px; min-height: 1px;border-top: 1px solid #616161; top: 0; left: 50%; margin-left: -65px; 
								
							}
							h3{color: #00a1d6;font-family: 'Intro'; font-size: 20px;margin: 0; line-height: 1.3; text-align: left;
								
							}
						}
						.text-content{max-width: 200px; margin: 0 auto; overflow: hidden; max-height: 95px;
							p{color: #616161;font-family: 'CoreSansNR'; font-size: 15.5px;margin: 10px 0 0 0 ; font-weight: 300; line-height: 1.3}
						}
					}
				}
			}
		}
	}

	.fancybox-wrap{min-width: 320px!important;  max-width: 320px;
		.fancybox-skin{
			.fancybox-outer{
				.fancybox-inner{min-width: 320px!important;width: calc(100% + 20px) !important;}
				#call-popup2{ min-height: 1024px;
					.main-wrapper{ text-align: center; position: relative; overflow: hidden;min-height: 1024px;
						.seljodka{display: none;}
						.little-seljodka{position: absolute; bottom:80px; left: 50px; display: block;}
						.popup-main-heading{color:  #00a1d6; position: relative; z-index: 2;
							.top-part{width: 100%; padding: 65px 0 0 0;
								h2{font-family: 'Intro'; font-size: 42px; margin: 0; text-transform: uppercase; }
							}
							.lower-part{
								h3{font-family: 'Intro'; font-size: 20px; margin: 0 0 0 10px;}
							}
						}
						.text-wrapper{ max-width: 280px; margin: 0 auto 0px ;
							
							p{font-family: 'CoreSansNR'; font-size: 16px; line-height: 1.3;  }
						}
						.popup-line{position: absolute;}
						.block-for-line1{  display: none;}
						.number-one{display: block;font-family: 'CoreSansNR'; font-size: 20px; color:  #00a1d6; border-radius: 50%; padding: 20px 33px 20px 27px; background-color: #f3f3f3; width: 60px; margin: 37px auto -10px;z-index: 3; position: relative; border: 10px solid rgba(255, 255, 255, 1); left: 0px; top: 5px;
							
						}
						.number-two{font-family: 'CoreSansNR'; font-size: 20px; color:  #00a1d6;border-radius: 50%; padding: 20px 33px 20px 27px; background-color: #f3f3f3; width: 60px; margin: -7px auto -20px;z-index: 3; position: relative; border: 10px solid rgba(255, 255, 255, 1);left: 0px; }
						.block-for-line2{display: none;
						} 
						.block-for-line3{min-height: 1px; min-width: 430px; border-top:#f3f3f3 solid  10px; z-index: 1; top: 300px; left: 0px;
							
						}
						.block-for-line4{display: none;
						} 
						.block-for-line5{min-height: 1px; min-width: 430px; border-top:#f3f3f3 solid  10px; z-index: 1; top: 430px; left: 0px;
						}
						.block-for-line6{display: none;
						}
						.dialog-content{ width: 280px; height: 140px;background-color: #f3f3f3; border-radius: 15px; padding: 15px 50px 0 ;  margin: 25px auto 0 auto ; position: relative;

							&:before{content: ""; display: block; border-right: 30px solid #f3f3f3;
							border-top: 15px solid transparent;	position: absolute;  top: 145px; left: 30px; transform: rotate(-90deg);
							}
							p{font-family: 'CoreSansNR'; font-size: 16px;margin: 0; line-height: 1.3;
								
							}
						}
						.super-button{ width: 270px; height: 60px;  text-decoration: none; background-color: #00a1d6; border-radius: 8px; display: flex; align-items: center; justify-content: center; transition: all 0.3s; margin: 25px auto 0; position: relative;
							bottom: -190px;
	                    	span{font-size: 32px; font-family: "Intro"; color: rgb(255, 255, 255); margin-bottom: -5px;}
	                    &:hover{ background-color: #2ab9e8;}
	                	}
	                	.bottom-text-wrapper{position: relative;  bottom: -190px;
	                		p{font-size: 16px; font-weight: 200; letter-spacing: 0.3spx;}
	                	}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 666px){
	
	.fencybox-wrap{ 
		.fancybox-inner{
			width: calc(100% + 20px) !important;
		}
	}	
}
@media screen and (max-width: 479px){
	.block2{
		.mbox{ padding: 0;
			.slider-conteiner{max-width: 281px; top: -220px; left: 50%; margin-left: -140px;
				.slick-arrow{width: 75px; min-height: 75px; top: 500px;
					&.slick-prev{ left: 17%;
						
					}
					&.slick-next{ right: 17%;
						
					}
					img{width: 75px; min-height: 75px;
						
					}
				}
				.slide{margin: 65px 30px 75px;
					&.slick-current{
						.wrapper-for-bubble{
							
						}
					}
					&.slick-current{
						.wrapper-for-bubble{ transform: scale(1.44);position:relative; top: 0; margin: 0 auto;
							img{}
							.inner-image{top: 13px; left: 13px;max-width:165px; max-height: 165px;
								img{max-width:165px; max-height: 165px;
									
								}
							}
						}
						.text-content{padding: 40px 0 0 15px;
							.text-heading{margin-top :-15px;
							}
						}
						
					}
					.wrapper-for-bubble{max-width: 190px; max-height: 190px; min-width: 190px; min-height: 190px;
						
						img{max-width: 190px; max-height: 190px; }
						&.bubble2{ position:relative; top: -10px; }
						&.bubble{position:relative; top: -10px; 
							.inner-image{ top: 12px; left: 10px;
								img{max-width:168px; max-height: 168px;}
							}
						}
						.inner-image{position: absolute; top: 10px; left: 10px;max-width:247px; max-height: 247px;
							img{max-width:170px; max-height: 170px;
							}
						}
					}
					.text-content{padding: 0 5px; margin-top: -15px;
						.main-text{ padding: 0 5px;
						}
					}
				}
			}
			.condition{padding: 745px 0 105px 0; overflow: hidden;
				.cake-image{ top: 485px; left: 50%; margin-left: -100px;max-width: 202px ; max-height:265px;
					
					&:hover{
						img{
							&:first-child{ min-width: 354px; min-height: 350px; left: -60px; top:-30px; }	
						}
					}
					img{
						&:first-child{display: none; }
						&:last-child{z-index: 5; position: relative;}
						
					}
				}
				.condition-content{padding: 0 0 0 0; align-items: center; 
					img{ max-width:420px; max-height: 146px; right: 50%; top: -50px; margin-right: -180px; z-index: 6;}
					.cake-heading{max-width: 280px; position: relative; z-index: 7;
						h2{font-family: 'Intro'; font-size:22px; white-space: pre-line; margin: 0px; line-height: 0.8;
							span{font-size: 45px
							} 
						}
					}
					.condition-text{ text-align: center;position: relative; z-index: 7;
						p{ margin: 65px 20px 0 0; line-height: 1.3;}
					}
				}
			}
		}
	}

	.fancybox-wrap{min-width: 280px!important;  max-width: 280px;
		.fancybox-skin{
			.fancybox-outer{
				.fancybox-inner{min-width: 280px!important;}
				#call-popup2{ min-height: 1024px;
					
				}
			}
		}
	}
}
@media screen and (max-width: 320px){

}