@media screen and (max-width: 1920px){
    body{ zoom: 100%; }
}
@media screen and (max-width: 1700px){
     body{ zoom: 75%; }
}
@media screen and (max-width: 1300px){
    body{ zoom: 100%; }
}

@media screen and (max-width: 1130px){
    .mbox2{max-width: 768px; margin: 0 auto;}
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    .block1 .conteiner .lang { right: 0px;}
    .block1 .conteiner .lang{  margin-right: -16px;}
    .block1 .boxer .after-text { font-size: 42px; padding-top: 27px; padding-bottom: 42px;}

}
@media screen and (max-width: 767px){

    .mbox2{max-width: 320px; margin: 0 auto;}

    /* block 1 */
        .block1 {padding-bottom: 248px;}

        .block1 .conteiner .lang {top: 0; margin-top: -30px; margin-right: -38px;}
        .block1 .boxer .top a {
            img{max-width: none;  margin-left: calc(50% - 202px);}
        }
        .block1 .boxer .after-text {padding-bottom: 21px;}
        .block1 .boxer .form{padding: 44px 24px 37px;     border-radius: 0px;}

    /* block 1 */

    

}
@media screen and (max-width: 666px){
    #call-popup form .contact-form-row .contact-form-item .form_input .radio-goup .con {width: 100%; float: none;}

     #call-popup{width: 280px;
        form{padding: 0 10px;}
     }
     .fancybox-inner {width: 280px !important; min-width: 280px !important;}

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}