//footer
.footer{font-size: 18px;color: #757575;font-weight: 300;
    .footer-top{background-color: #f3f3f3;
        .footer-top-wrap{height: 61px;display: flex;justify-content: space-around;align-items: center;}
    }
    .footer-bottom{background-color: #ededed;
        .footer-bottom-wrap{min-height: 252px;display: flex;justify-content: space-around;align-items: center;}
        .left_side{width: 37%;display: flex;align-items: center;border-right: 1px solid #cfcfcf;
            .footer-nav{padding-left: 15%;
                ul{list-style-type: none;padding-left: 0;margin: 0;}
                a{text-decoration: none;font-size: 18px;color: #757575;line-height: 1.7;}
            }
            .footer_logo{
                img{filter: grayscale(1);transition:all ease .2s;
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
        }
        .right_side{width: 63%;display: flex;flex-wrap: wrap;flex-direction: column;padding-left: 6%;
            .payment{flex: 1;margin-bottom: 11px;
                ul{list-style-type: none;padding-left: 0;margin: 0;display: flex;align-items: center;justify-content: space-around;}
            }
            .bottom{flex:1;display: flex;align-items: center;justify-content: space-between;font-size: 14px;font-weight: 300;
                span{margin-right: 10px;}
                p{margin: 0;}
                .footer-logo{display: flex;justify-content: center;align-items: center;
                    img{filter: grayscale(1);transition:all ease .2s;
                        &:hover{
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
    }
}