@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    .footer .footer-bottom .right_side{padding-left: 9%;}

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* top part */

        .block5 .block-wrap .block-top .item.item-1 h2:after { background-size: 100% 100%; width: 507px; height: 196px;}

        .block5 .block-wrap .block-top .item.item-1 { padding-top: 53px;}

        .block5 .block-wrap .block-top { padding-top: 187px;}
        .block5 .block-wrap .block-top .item.item-1 h2 {font-size: 37px;padding-right: 45px; padding-top: 0;
            span{font-size: 52px;}
        }
        .block5 .block-wrap .block-top .item.item-1 .easy-text { font-size: 18px; padding-right: 51px; padding-top: 63px;}
    /* top part */

    /* bot part */
        .block5 .block-wrap { min-height: 1551px;}
        .block5 .block-wrap .block-bottom { padding-top: 128px;}
        .block5 .block-wrap .block-bottom .item{
            .item-img img{width: 86%; margin: 0 auto; display: block;}
        }

        .block5 .block-wrap .block-bottom .item .item-text h4, .block5 .block-wrap .block-bottom .item .item-text .h4 {font-size: 26px;}
        .block5 .block-wrap .block-bottom .item.item-2 .item-text h4, .block5 .block-wrap .block-bottom .item.item-2 .item-text .h4 { font-size: 26px;}

        .block5 .block-wrap .block-bottom .item .item-description { padding-left: 26px;padding-top: 33px;}

        .block5 .block-wrap .block-bottom .item.item-1 .item-list {margin-bottom: 84px;
            li{margin-bottom: 14px;}
        }
        .block5 .block-wrap .block-bottom .item.item-2 .item-list{ margin-bottom: 78px;
            li{margin-bottom: 14px;}
        }
        .block5 .block-wrap .block-bottom .item.item-2 .item-description { padding-left: 55px;}
    /* bot part */

    /* footer */

        .footer .footer-top .footer-top-wrap { flex-wrap: wrap; height: 155px; max-width: 470px; margin: 0 auto; padding-top: 17px;
            .item{width: 25%;}
            .item:first-child{width: 100%; text-align: center;}
        }
        .footer .footer-top .footer-top-wrap .item { 
            a{text-align: center;
                span{
                    img{display: block; margin: 0 auto;}
                }
            }
        }

        .footer .footer-bottom .right_side { padding-left: 23px; }       

 
    /* footer */

}
@media screen and (max-width: 767px){
     /* top part */
        .block5 .block-wrap .block-top .item.item-2 { float: none;width: 86%; margin: 0 auto; text-align: center;}
        .block5 .block-wrap .block-top .item.item-1 { width: 100%;float: right;}

        .block5 .block-wrap .block-top .item.item-1 h2 {font-size: 29px; padding: 0;
            span{font-size: 42px;}
            &:after{ width: 410px; height: 158px;}
        }
        .block5 .block-wrap .block-top {padding-top: 120px;}
        .block5 .block-wrap .block-top .item.item-1 {padding-top: 40px; float: none; max-width: 320px;    margin: 0 auto; }
        .block5 .block-wrap .block-top .item.item-1 .easy-text { padding-right: 9px; padding-top: 50px;}
    /* top part */   

    /* bot part */ 

        .block5 .block-wrap .block-bottom{display: block; width: 100%; padding-top: 22px;
            .item{width: 100%; max-width: 320px; margin: 0 auto;}
        }
        .block5 .block-wrap .block-bottom .item .item-img img {width: 98%;}
        .block5 .block-wrap .block-bottom .item .item-description {padding-left: 2px; padding-top: 13px;}
        .block5 .block-wrap .block-bottom .item.item-1 .item-list { margin-bottom: 35px; }

        .block5 .block-wrap .block-bottom .item-2{ padding-top: 85px;}
        .block5 .block-wrap .block-bottom .item.item-2 .item-description {padding-left: 9px; padding-top: 5px;}
        .block5 .block-wrap .block-bottom .item .item-subtext{font-size: 22px; padding-top: 4px;}
        .block5 .block-wrap .block-bottom .item.item-2 .item-list {margin-bottom: 18px;}
        .block5 .block-wrap .block-bottom{ margin-bottom: 37px;}

    /* bot part */ 

    /* footer */

        .footer .footer-top .footer-top-wrap{ height: 195px; padding-top: 12px; padding-bottom: 12px;}
        .footer .footer-top .footer-top-wrap .item { width: 30%; 
            a{text-align: center;
                span{
                    img{display: block; margin: 0 auto;}
                }
            }
        }

        .footer .footer-bottom .footer-bottom-wrap{display: block; height: auto;
            .mobile-top { display: block; padding: 35px 0 21px; max-width: 210px; margin: 0 auto; border-bottom: 1px solid #cfcfcf;
                ul{flex-wrap: wrap; height: 80px;
                    li{width: 33%;}
                }
            } 
            .left_side{width: 100%; max-width: 320px; margin: 0 auto; border: none; padding-top: 20px; padding-top: 19px; padding-left: 28px;}
            .right_side{width: 100%;

            }
        }
        .footer .footer-bottom .left_side .footer-nav { padding-left: 18px;}
        .footer .footer-bottom .right_side { padding-left: 0;
            .payment{display: none;}
        }
        .footer .footer-bottom .right_side .bottom .footer-logo{display: none;}
        .footer .footer-bottom .right_side { height: auto; padding: 37px 0 47px;
            .bottom{display: block; text-align: center;}
        }

    /* footer */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}