@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* skew-block */


    /* /skew-block */

    /* block 4 */
    
        .block4 .block-wrap .block-img {width: 39%;}
        .block4 .inside-wrap{ padding: 185px 0;}
        .block4 .block-text{width: 58%;}
        .block4 .block-wrap .block-text .text-with-background h2 { font-size: 41px; margin: 0 0 0px 50px;}
        .block4 .block-text .easy-text { font-weight: 300;font-size: 18px;}
    /* block 4 */

    /* block3 */

        .block3{
            .block-img{width: auto;}
        }

    /* /block3 */

}
@media screen and (max-width: 767px){

    .block4 .inside-wrap {padding: 115px 0 155px;}

    .block4 .block-wrap .block-text .text-with-background { background-size: 100% 100%; width: 355px; height: 160px; margin-left: -57px; margin-top: -75px;} 

    .block4 .block-wrap{display: block;
        .block-img{width: 220px; margin: 0 auto;}
        .block-text{width: 280px; margin: 0 auto; position: relative; z-index: 2;}
    }

    .block4 .block-wrap .block-text .text-with-background h2 {font-size: 33px; margin: 0; padding-left: 40px;}
    .block-wrap .block-text .easy-text { padding: 0; 
        br{display: none;}
    }

    .block4 .block-wrap .block-text .easy-text{padding-top: 26px;}

}
@media screen and (max-width: 666px){

    /* block3 */

        .block3{
            .block-text{
                .text-with-background{width: 100%;max-width: 531px;}
            }
        }

    /* /block3 */

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}