@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    .block3 .inside-wrap { padding: 30px 0 68px;}

    .block3 {
        .mbox{max-width: 100%;}
        .block-wrap{display: block;
            .block-img{float: right; width: 44%;}
            .block-text{float: right; padding-top: 135px; width: 56%;}
            .block-text.block-text-right .easy-text { padding-right: 68px; padding-left: 0; padding-top: 3px; line-height: 1.25;}
        }
    }
    .block3 .block-wrap .block-text .text-with-background { width: 531px; height: 225px; margin-top: -15px; float: right; margin-left: calc(100% + 531px); margin-right: -68px;}
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* skew-block */


    /* /skew-block */

    /* block 4 */
    
        .block4 .block-wrap .block-img {width: 39%;}
        .block4 .inside-wrap{ padding: 185px 0;}
        .block4 .block-text{width: 58%;}
        .block4 .block-wrap .block-text .text-with-background h2 { font-size: 41px; margin: 0 0 0px 50px;}
        .block4 .block-text .easy-text { font-weight: 300;font-size: 18px;}
    /* block 4 */

    /* block3 */
        .block3 .inside-wrap { padding: 30px 0 95px;}
        .block3 {
            .mbox{padding: 0;}
            .block-wrap{
                .block-img { width: 48%;
                    img { margin-top: 40px; margin-left: 0px;}
                }
                .block-text{width: 52%;
                    .text-with-background { width: 463px; height: 206px;  margin-top: -15px;  background-size: 100% 100%;
                        h2{font-size: 24px;
                            span{font-size: 72px;}
                        }
                    }
                    &.block-text-right .easy-text { padding-right: 0; font-size: 18px; padding-top: 0; }
                }
            }
        }

    /* /block3 */

}
@media screen and (max-width: 767px){

    /* block 4 */

        .block4 .inside-wrap {padding: 115px 0 155px;}

        .block4 .block-wrap .block-text .text-with-background { background-size: 100% 100%; width: 355px; height: 160px; margin-left: -57px; margin-top: -75px;} 

        .block4 .block-wrap{display: block;
            .block-img{width: 220px; margin: 0 auto;}
            .block-text{width: 280px; margin: 0 auto; position: relative; z-index: 2;}
        }

        .block4 .block-wrap .block-text .text-with-background h2 {font-size: 33px; margin: 0; padding-left: 40px;}
        .block-wrap .block-text .easy-text { padding: 0; 
            br{display: none;}
        }

        .block4 .block-wrap .block-text .easy-text{padding-top: 26px;}

    /* block 4 */

    /* block 3 */
        .block3 .inside-wrap {padding: 30px 0 130px;}
        .block3 .block-wrap {
            .block-img { width: 80%; float: none; margin: 0 auto;  text-align: center;}
            .block-text {  width: 100%; float: none; margin-top: -125px; position: relative; padding: 0;
                .text-with-background { width: 392px; height: 161px;float: none; margin: 0 auto;}
            }
        }

        .block3 .block-wrap .block-text .text-with-background h2 {font-size: 18px;
            span{ font-size: 59px;}
        }

        .block3 .block-wrap .block-text.block-text-right .easy-text{ max-width: 280px; margin: 0 auto;     padding-top: 10px;}

        .block3 .block-wrap .block-text .text-with-background{ justify-content: flex-start;
            h2{ margin: 0; padding-left: 20px; padding-top: 30px;}
        }

    /* block 3 */


}
@media screen and (max-width: 666px){

    /* block3 */

        .block3{
            .block-text{
                .text-with-background{width: 100%;max-width: 531px;}
            }
        }

    /* /block3 */

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}