
/* skew-block */

    .skew-block{transform:skew(0deg, -2.5deg);overflow: hidden;transform-origin:50% 50%;
       .inside-wrap{transform:skew(0deg, 2.5deg);transform-origin:50% 50%;background-image:url(../images/block3-background.png);background-size:cover;background-repeat: no-repeat;margin: -45px 0;padding:45px 0;}
    }

/* /skew-block */

/* block-wrap */

    .block-wrap{display: flex;align-items: center;justify-content: space-around;
        &.block-reverse{flex-direction:row-reverse;}

        .block-text{

            .text-with-background{background-repeat: no-repeat;background-position: center center;font-family: 'Intro', sans-serif;color:#fff;display: flex;align-items: center;justify-content: center;
                h2{margin: 0 0 -25px -25px;}
                span{font-size: 90px;text-transform: uppercase;}
            }

            .easy-text{font-weight: 300;font-size: 25px;color:#212121;padding-right: 65px;
                p{margin: 0;}
            }

            &.block-text-right{text-align: right;}

        }

    }

/* /block-wrap */

/* block3 */

    .block3{
        .inside-wrap{background-image:url(../images/block3-background.png);}

        .block-img{width: calc(100% - 531px);}

        .block-text{
            .text-with-background{background-image:url(../images/block-text-background-orange.png);width: 531px;height:225px;}
        }

    }

/* /block3 */