@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* skew-block */

        .skew-block{transform:skew(0, 0);
            .inside-wrap{transform:skew(0, 0);margin: 0;padding: 20px 0 30px;}
        }

    /* /skew-block */

    /* block-wrap */

        .block-wrap, .block-wrap.block-reverse{flex-direction:column;align-items: center;justify-content: center;

            .block-text, .block-text.block-text-right{text-align: center;

                .text-with-background{height: auto;background-size: auto 100%;padding:54px 0;
                    h2{font-size: 22px;}
                    span{font-size: 70px;}
                }
                .easy-text{padding-left:0;font-size: 22px;}

                &.block-text-right{
                    .easy-text{padding-right: 0;}
                }

            }

        }

    /* /block-wrap */

    /* block3 */

        .block3{
            .block-img{width: auto;}
        }

    /* /block3 */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* block3 */

        .block3{
            .block-text{
                .text-with-background{width: 100%;max-width: 531px;}
            }
        }

    /* /block3 */

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}