.block2{background: url('../images/condition-bg.png') no-repeat; background-size: cover; background-position: 50% 50%;margin-bottom: -35px;
	.mbox{position: relative;
		.slider-conteiner{position: absolute; top: -300px; left: -30px; max-width: 1080px; min-height: 500px; 
			.slick-arrow{width: 111px; min-height: 111px; top: 200px;
				&:before{content: none;}
				&.slick-prev{left: -90px; 
					
				}
				&.slick-next{right: -75px; 
					
				}
				img{width: 111px; min-height: 111px;
					
				}
			}
			.slide{margin: 70px 40px;
				&.slick-current+.slick-active{margin-right: 30px;
					.wrapper-for-bubble{transform: scale(1.5);transition: 0.5s;
						img{}
						.inner-image{top: 17px; left: 17px;max-width:240px; max-height: 240px;
							img{max-width:240px; max-height: 240px;
								
							}
						}
					}
					.text-content{padding-top: 50px; 
						.text-heading{
							h3{}
						}
						.main-text{
							p{}
						}
						.price{
							
						}
					}
				}
				.wrapper-for-bubble{position:relative;min-width: 285px; min-height: 271px;
					&.bubble{
						.inner-image{ top: 17px; left: 17px;
						}
					}
					.inner-image{position: absolute; top: 12px; left: 12px;max-width:247px; max-height: 247px;
						img{max-width:247px; max-height: 247px;
							
						}
					}
				}
				.text-content{padding-top: 10px; text-align: center;font-family: 'CoreSansNR';
					.text-heading{
						h3{font-family: 'CoreSansNR'; font-size:36px; font-weight: 300; margin-bottom: 0px;}
					}
					.main-text{padding: 0 40px;
						p{font-family: 'CoreSansNR'; font-size:16px; font-weight: 300; margin-bottom: 10px}
					}
					.price{
						p{font-family: 'Intro'; font-size: 35px; color: #22aedb; margin: 0px;}
					}
				}
			}
		}
		.condition{padding: 485px 0 185px 0; position: relative;
			.cake-image{position: absolute; overflow: visible; top: 450px; left: 70px;z-index: 10;
				&:hover{
					img{
						&:first-child{display: block; position: absolute; z-index: 1; min-width: 594px;
							min-height: 600px; left: -100px;}	
					}
				}
				img{
					&:first-child{display: none; }
					&:last-child{z-index: 5; position: relative;}
					
				}
			}
			.condition-content{color: #fff;padding: 100px 35px 0 0;display: flex; flex-direction: column; align-items: flex-end; position: relative;
				img{display: block; position: absolute; right: 10px; top: 40px;}
				.cake-heading{position: relative; z-index: 5; display: inline-block; text-align: left;
					max-width: 440px; 
					h2{font-family: 'Intro'; font-size:35px; white-space: pre-line; margin: 0px; line-height: 0.8;
						span{font-size: 69px
						} 
					}
				}
				.condition-text{position: relative; z-index: 5;display: inline-block; text-align: left;
					p{white-space: pre-line; font-size: 25px; font-family: 'CoreSansNR'; font-weight: 300; margin: 45px 30px 0 0; line-height: 1.3;}
				}
			}
		}

	}
}

.competition-block1{
	.mbox2{font-family: 'CoreSansNR';background-color: #f2f2f2; padding-bottom: 64px; 
		.heading-wrapper{text-align: center; padding: 50px 0 50px  0 ;
			.main-part{padding-bottom:25px;
				h2{font-family: 'CoreSansNR'; font-size: 45px;margin: 0; font-weight: 300; letter-spacing: -0.3px;}
			}
			.lower-part{ max-width: 500px;margin: 0 auto;
				p{color: #616161; font-size: 16px;font-family: 'CoreSansNR';margin: 0; font-weight: 300;  }
			}
		}	
		.block-1-slider-wrapper{padding: 0 65px 35px; max-width: 960px; width: 100%; margin: 0 auto;
			.slick-arrow{
				&:before{content: none;}
				img{min-height: 47px; min-width: 47px;
				}
				&.slick-prev{top: 65px; left: 10px;
					
				}
				&.slick-next{top: 65px; right: 20px;
					
				}
			}
			.slide{

				.image-wrapper{text-align: center;
					img{display: inline-block;}
				}
				.text-wrapper{text-align: center;padding: 30px 0 0 10px;
					.slider-heading{padding-bottom: 10px;  
						h3{font-family: 'CoreSansNR'; font-size:20px;margin: 0;}
					}
					.slider-text{max-width: 180px; margin: 0 auto;padding-bottom: 10px; 
						p{color:#616161;font-family: 'CoreSansNR'; font-size: 14px;margin: 0;}
					}
					.price{
						p{color: #00a1d6;font-family: 'Intro'; font-size: 34px;margin: 0;}
					}
				}	
			}
		}
	}
}

.competition-block4{padding-bottom: 85px;
	.mbox2{font-family: 'CoreSansNR';
		.block4-heading{width: 100%; text-align: center; padding: 40px 0 45px 0;
			h2{font-size: 45px; color: #fff; margin: 0; font-weight: 300; 
				
			}
		}
		.block-4-slider-wrapper{max-width: 1110px; padding: 0 20px; margin: 0 0 0 auto ;
			.slick-arrow{
				&:before{content: none;}
				img{min-height: 40px; min-width: 21px;
				}
				&.slick-prev{top: 105px; left: -25px;
					
				}
				&.slick-next{top: 105px; right: -14px;
					
				}
			}
			.slide{padding: 57px 0 55px; display: flex; max-height: 250px; width: 520px; background-color: #fff;margin: 0 15px 0 0;
				.image-wrapper{padding: 0 40px 0 60px;
					img{}
				}
				.text-conteiner{padding: 0 40px 0 40px; border-left: 1px solid #616161;
					.text-heading{max-width: 190px;margin: 0 auto;
						h3{color: #00a1d6;font-family: 'Intro'; font-size: 20px;margin: 0; line-height: 1.3;
							
						}
					}
					.text-content{max-width: 200px; margin: 0 auto; overflow: hidden; max-height: 95px;
						p{color: #616161;font-family: 'CoreSansNR'; font-size: 15.5px;margin: 10px 0 0 0 ; font-weight: 300; line-height: 1.3}
					}
				}
			}
		}
	}
}

.fancybox-wrap{min-width: 768px; 
	.fancybox-skin{
		.fancybox-outer{
			#call-popup2{ min-height: 810px;
				.main-wrapper{ text-align: center; position: relative;
					.seljodka{position: absolute; bottom:-52px; left: 0;}
					.popup-main-heading{color:  #00a1d6;
						.top-part{width: 100%; padding: 55px 0 0 0;
							h2{font-family: 'Intro'; font-size: 52px; margin: 0; text-transform: uppercase; }
						}
						.lower-part{
							h3{font-family: 'Intro'; font-size: 25px; margin: 0;}
						}
					}
					.text-wrapper{ max-width: 500px; margin: 0 auto 30px ;
						
						p{font-family: 'CoreSansNR'; text-size: 20px; }
					}
					.block-for-line1{}
					.number-one{font-family: 'CoreSansNR'; font-size: 20px; color:  #00a1d6; border-radius: 50%; padding: 20px 0; background-color: #f3f3f3; width: 60px; margin: 60px auto -10px;
						
					}
					.number-two{font-family: 'CoreSansNR'; font-size: 20px; color:  #00a1d6;border-radius: 50%; padding: 20px 0; background-color: #f3f3f3; width: 60px; margin: 40px auto -10px;}
					.block-for-line2{
						
					}
					.dialog-content{ width: 450px; height: 95px;background-color: #f3f3f3; border-radius: 15px; padding: 15px 30px 0 ;  margin: 65px 95px 0 auto ; position: relative;
						&:before{content: ""; display: block; border-right: 30px solid #f3f3f3;
						border-top: 15px solid transparent;	position: absolute;  top: 40px; left: -30px;
							
						}
						p{font-family: 'CoreSansNR'; text-size: 20px;margin: 0; line-height: 1.1;
							
						}
					}
					.super-button{ width: 270px; height: 60px;  text-decoration: none; background-color: #00a1d6; border-radius: 8px; display: flex; align-items: center; justify-content: center; transition: all 0.3s; margin: 25px auto 0;
                    	span{font-size: 32px; font-family: "Intro"; color: rgb(255, 255, 255); margin-bottom: -5px;}
                    &:hover{ background-color: #2ab9e8;}
                	}
				}
			}
		}
	}
}