<section class="block1">

    
    <video preload="metadata" autoplay="" loop="" muted id="bgvid" style="display: block;">
            <source src="http://test149.sheep.fish/images/video/IKRA_video.mp4" type="video/mp4">
            <source src="http://test149.sheep.fish/images/video/IKRA_video.webm" type="video/webm">            
    </video>

    

    <div class="conteiner">
        <div class="lang">
            <ul>
                <li class="current">
                    <a href="#" >
                        <img src="images/ru.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/en.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="boxer">
            <div class="top" >
                <a href="">
                    <img src="images/logo.png" alt="">
                </a>
            </div>
            <div class="after-text">партнёрка <br/> для своих</div>
            <div class="form">
                <form action="" name="" method="post" class="contact-form-head">
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input login">
                                    <input type="text" name="contact_login" required="required" value="" placeholder="Логин">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input pass">
                                    <input type="password" name="contact_pass" required="required"  placeholder="Пароль">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row-submit cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="contact-submit">
                                <span>Войти в личный кабинет</span>
                            </button>
                        </div>
                    </div>
                    
                </form>
                <div class="after-row cfix">
                    <a href="#" class="reg">Регистрация</a>
                    <a href="#" class="forget">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</section>