<section class="block3 skew-block">
    <div class="inside-wrap">
        <div class="mbox" >
            <div class="block-wrap block-reverse">

                <div class="block-img" data-aos="flip-down" data-aos-anchor-placement="top-center">
                    <img src="images/block3-img.png" alt="" />
                </div>

                <div class="block-text block-text-right" data-aos="flip-up" data-aos-anchor-placement="top-center">
                    <div class="text-with-background">
                        <h2>
                            Не умеешь лить в плюс?<br />
                            <span>Научим!</span>
                        </h2>
                    </div>
                    <div class="easy-text">
                        <p>Наша команда состоит из ТОПовых арбитражников. <br/> Поделимся опытом и научим быть успешным.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>