<section class="block5">
    <div class="inside-wrap">
        <div class="mbox">
            <div class="block-wrap">
                <div class="block-top cfix">
                    <div class="item item-2" data-aos="flip-down">
                        <img src="images/block5-top-right.png" alt="">
                    </div>
                    <div class="item item-1" data-aos="flip-up">
                        <h2>
                            Эксклюзивные <br />
                            <span>офферы</span>
                        </h2>
                        <div class="easy-text">Научим технологиям правильных тестов оффера. Расскажем тонкости работы с источниками и промо.</div>
                    </div>
                    
                </div>
                <div class="block-bottom">

                    <div class="item item-1" data-aos="fade-up" data-aos-duration="3000">
                        <div class="item-img">
                            <img src="images/block5-img-1.png" alt="">
                            <img src="images/block5-img-1-mini.png"  class="mini-img" alt="">
                        </div>
                        <div class="item-description">
                            <div class="item-text">
                                <h4>РЕКЛАМОДАТЕЛЮ</h4>
                            </div>
                            <div class="item-subtext">
                                <p>СЕРВИС ПОЗВОЛИТ ВАМ УВЕЛИЧИТЬ ПОТОК ПРОДАЖ</p>
                            </div>
                            <div class="item-list">
                                <ul>
                                    <li>Разработка лендингов и промо материалов с высокой конверсией</li>
                                    <li>Собственная система контроля качества заявок (антифрод)</li>
                                    <li>Подробная статистика конверсий и посещений</li>
                                    <li>Круглосуточная поддержка 24/7</li>
                                </ul>
                            </div>
                            <div class="item-button">
                                <a href="#call-popup" class="fancybox-form"><span>Получить заявки</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item item-2" data-aos="fade-up" data-aos-duration="3000">
                        <div class="item-img">
                            <img src="images/block5-img-2.png" alt="">
                            <img src="images/block5-img-2-mini.png"  class="mini-img" alt="">
                        </div>
                        <div class="item-description">
                            <div class="item-text">
                                <h4>Вебмастеру</h4>
                            </div>
                            <div class="item-subtext">
                                <p>ЗАРЕГИСТРИРУЙТЕ АККАУНТ, ВЫПОЛНЯЙТЕ ЗАДАНИЯ И ЗАРАБАТЫВАЙТЕ ДЕНЬГИ</p>
                            </div>
                            <div class="item-list">
                                <ul>
                                    <li>Регулярные высокие выплаты</li>
                                    <li>Промо материалы с использованием новых технологий</li>
                                    <li>Расширенная аналитика</li>
                                    <li>ТОП вебмастер в роли персонального менеджера</li>
                                </ul>
                            </div>
                            <div class="item-button">
                                <a href="#"><span>Начать зарабатывать</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>