<section class="block2">
	<div class="mbox">
		<div class="slider-conteiner">
			<div class="slide">
				<div class="wrapper-for-bubble">
					<img src="images/bubble2.png">
					<div class="inner-image">
						<img src="images/slider-image3.png">
					</div>					
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="wrapper-for-bubble">
				<img src="images/bubble2.png">				
					<div class="inner-image">
						<img src="images/slider-image2.png">
					</div>					
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="wrapper-for-bubble bubble">
				<img src="images/bubble.png">
					<div class="inner-image">
						<img src="images/slider-image1.png">
					</div>
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="wrapper-for-bubble">
					<img src="images/bubble2.png">
					<div class="inner-image">
						<img src="images/slider-image1.png">
					</div>					
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="wrapper-for-bubble">
				<img src="images/bubble2.png">				
					<div class="inner-image">
						<img src="images/slider-image2.png">
					</div>					
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="wrapper-for-bubble bubble">
				<img src="images/bubble.png">
					<div class="inner-image">
						<img src="images/slider-image3.png">
					</div>
				</div>
				<div class="text-content">
					<div class="text-heading">
						<h3>MaxiSize</h3>
					</div>
					<div class="main-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 Р</p>
					</div>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="cake-image">
				<img src="images/cake-shadow.png">
				<img src="images/cake.png">
			</div>
			<div class="condition-content">
				<img src="images/dash.png">
				<div class="cake-heading">
					<h2>Вкусные условия
					<span>для своих</span></h2>
				</div>
				<div class="condition-text">
					<p>Отсутствие холда, моментальный апрув,
					выплаты по запросу, поддержка 24/7.</p>
				</div>
			</div>
		</div>
	</div>
</section>