<section class="block4 skew-block">
    <div class="inside-wrap">
        <div class="mbox">
            <div class="block-wrap">

                <div class="block-img">
                    <img src="images/block4-img.png" alt="" />
                </div>

                <div class="block-text">
                    <div class="text-with-background">
                        <h2>
                            собственное<br />
                            производство
                        </h2>
                    </div>
                    <div class="easy-text">
                        <p>Постоянно тестируем новые офферы и выкатываем</p>
                        <p>в паблик. Успевайте снимать сливки!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>