<section class="competition-block3">
	<div class="mbox2">
        <div class="contein">
            <div class="title-text">
                <h2>Лидеры конкурса</h2>
            </div>
            <div class="after-lists">
                <div class="list-tshirt list-order" data-aos="flip-up">
                    <div class="head">
                        <div class="con">
                            <img src="images/tshirt.png" alt="">
                        </div>
                        <p>Претенденты <br/> на ноутбук</p>
                    </div>
                    <ul>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                    </ul>
                </div>
                <div class="list-note-book list-order" data-aos="flip-up">
                    <div class="head">
                        <div class="con">
                            <img src="images/notebook.png" alt="">
                        </div>
                        <p>Претенденты <br/> на путешествие</p>
                    </div>
                    <ul>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                         <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                    </ul>
                </div>
                <div class="list-travell list-order" data-aos="flip-up">
                    <div class="head">
                        <div class="con">
                            <img src="images/trevell.png" alt="">
                        </div>
                        <p>Претенденты <br/> на футболку</p>
                    </div>
                    <ul>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                        <li>
                            <span class="list-num"> 001</span>
                            <span class="name"> webmastername </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="button-row" data-aos="flip-up">
                <a href="#call-popup2" class="super-butt fancybox-form">
                    <span>Участвовать</span>
                </a>
                <p>Жми на кнопку и участвуй в конкурсе!</p>
            </div>
        </div>
    </div>
</section>