<section class="competition-block2">

    <div class="mbox2">
        <div class="convert">
            <div class="title-text">
                <h2>Призы</h2>
            </div>
            <div class="conve cfix">
                <div class="item item1">
                    <div class="con">
                        <img src="images/bol.png" alt="">
                    </div>
                    <div class="cik">
                        <p> <span>1000+ </span> <br/> Футболок </p>
                    </div>
                </div> 
                <div class="item item2">
                    <div class="con">
                        <img src="images/boy.png" alt="">
                    </div>
                    <div class="cik">
                        <b>1</b>
                        <div class="der">                            
                            <span>Ультратонкий <br/> ноутбук</span>
                        </div>
                    </div>
                </div> 
                <div class="item item3">
                    <div class="con">
                        <img src="images/bor.png" alt="">
                    </div>
                    <div class="cik">
                        <b>1</b>
                        <div class="der">                            
                            <span>Путешествие <br/> на двоих</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
	
</section>