<!-- HEADER -->
<header class="competition">
    <div class="conteiner">
        <div class="mbox2">
            <div class="fotbolki">
                <img src="images/footbolki.png" alt="">
            </div>
            <div class="topest">

                <div class="logo">
                    <img src="images/logo2.png" alt="">
                </div>

                <div class="conk">
                    <span>КОНКУРС ФУТБОЛОК</span>
                </div>

                <div class="ashead">
                    <img src="images/text.png" alt="">
                    <!--
                    <p>
                        <b>1000+</b> <br/>  
                        <span> фирменных <br/> футболок</span> <br/>
                        <i> от Икры</i>
                    </p>
                    -->
                </div>
                
            </div>
            <div class="bottomet">
                <div class="violetta">
                    <img src="images/violetta.png" alt="">
                </div>
                <div class="petr">
                    <img src="images/petr.png" alt="">
                </div>
                <div class="comment">
                    <div class="conwer">
                        <p>По многочисленных просьбам, от наших вебмастеров наши дизайнеры решили порадовать вас линейкой фирменных футболок стиле Easy money arbitrage</p>
                    </div>
                </div>
            </div>
            <a href="#call-popup2" class="super-button fancybox-form2">
                <span>Хочу футболку</span>
            </a>
        </div>
    </div>

</header>
<!-- /HEADER -->
