<section class="competition-block1">
	<div class="mbox2">
		<div class="heading-wrapper">
			<div class="main-part">
				<h2>Выбирай оффер и начинай лить!</h2>
			</div>
			<div class="lower-part">
				<p>Выиграть может каждый, поэтому выбирайте офферы, настраивайте свои потоки, 
зовите Пахома или втирайте в себя Бруталин и забирайте призы!</p>
			</div>
		</div>
		<div class="block-1-slider-wrapper">
			<div class="slide">
				<div class="image-wrapper">
					<img src="images/competition-slider-img.png">
				</div>
				<div class="text-wrapper">
					<div class="slider-heading">
						<h3>MaxiSize</h3>	
					</div>
					<div class="slider-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 p</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="image-wrapper">
					<img src="images/competition-slider-img.png">
				</div>
				<div class="text-wrapper">
					<div class="slider-heading">
						<h3>MaxiSize</h3>	
					</div>
					<div class="slider-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 p</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="image-wrapper">
					<img src="images/competition-slider-img.png">
				</div>
				<div class="text-wrapper">
					<div class="slider-heading">
						<h3>MaxiSize</h3>	
					</div>
					<div class="slider-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 p</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="image-wrapper">
					<img src="images/competition-slider-img.png">
				</div>
				<div class="text-wrapper">
					<div class="slider-heading">
						<h3>MaxiSize</h3>	
					</div>
					<div class="slider-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 p</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="image-wrapper">
					<img src="images/competition-slider-img.png">
				</div>
				<div class="text-wrapper">
					<div class="slider-heading">
						<h3>MaxiSize</h3>	
					</div>
					<div class="slider-text">
						<p>Крем для смазки этого всего
						и даже всего остального..</p>
					</div>
					<div class="price">
						<p>340 p</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>