<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer-top">
        <div class="mbox">
            <div class="footer-top-wrap">
                <div class="item"><span>Икра в сети:</span></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-2.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-3.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-4.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-5.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-6.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-7.png" alt=""></span></a></div>
                <div class="item"><a href="#" target="_blank"><span><img src="images/footer-top-8.png" alt=""></span></a></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="mbox">
            <div class="footer-bottom-wrap">
                <div class="mobile-top">
                    <div class="payment">
                        <ul>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-1.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-2.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-3.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-4.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-5.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="left_side">
                    <div class="footer_logo"><img src="images/footer-logo.png" alt=""></div>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#"><span>Онас    </span></a></li>
                            <li><a href="#"><span>Правила ПП    </span></a></li>
                            <li><a href="#"><span>Контакты</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_side">
                    <div class="payment">
                        <ul>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-1.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-2.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-3.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-4.png" alt=""></a></li>
                            <li><a href="#" target="_blank"><img src="images/footer-payment-5.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="copy">
                            <p>© 2015-2016 Все права защищены.</p>
                        </div>
                        <div class="footer-logo">
                            <span>Сделано студией </span>
                            <a href="#" target="_blank">
                                <img src="images/footer-whomade.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/1.0.1/dist/aos.js">

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
