<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">Спасибо за заявку!</div>
                <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Узнать стоимость <br/> <span>продвижения </span> </h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Ссылка на сайт</p>
                            <input type="text" name="contact_site" required="required" value="" placeholder="www.site.com">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Вывод в топ</p>
                            <div class="radio-goup cfix">
                                <div class="con">
                                    <input type="radio" id="top50" name="go-to-top" value="top50" checked>  
                                    <label for="top50">                                        
                                        <span class="svitch"></span>
                                        <span class="text">Топ-50</span> 
                                    </label>
                                </div>
                                
                                <div class="con">
                                    <input type="radio" id="top10" name="go-to-top" value="top10"> 
                                    <label for="top10">          
                                        <span class="svitch"></span>
                                        <span class="text">Топ-10 </span>
                                    </label>
                                </div>
                                
                                <div class="con">
                                    <input type="radio" id="marks" name="go-to-top" value="marks"> 
                                    <label for="marks">                                    
                                        <span class="svitch"></span>
                                        <span class="text">Нужны оценки и отзывы</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="to200" name="go-to-top" value="to200"> 
                                    <label for="to200">                                    
                                        <span class="svitch"></span>
                                        <span class="text">До 200 в сутки</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="to500" name="go-to-top" value="to500"> 
                                    <label for="to500"> 
                                        <span class="svitch"></span>
                                        <span class="text">От 200 до 500 в сутки</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="campain" name="go-to-top" value="campain">
                                    <label for="campain">                     
                                        <span class="svitch"></span>
                                        <span class="text">Нужна полноценная кампания</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Комментарии</p>
                            <textarea name="comments" placeholder="Дополнительные комментарии"></textarea>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Ваш e-mail</p>
                            <input type="email" name="contact_email" required="required" value="" placeholder="my@e-mail.com">
                        </div>
                    </div>
                </div>
                <p>Мы составим предварительное предложение и вышлем Вам его на e-mail</p>
            </div>
            <div class="contact-form-row-submit cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Рассчитать</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="call-popup2">
        <div class="main-wrapper">
            <img class="seljodka" src="images/seljodka.png">
            <div class="popup-main-heading">
                <div class="top-part">
                    <h2>Как стать</h2>
                </div>
                <div class="lower-part">
                    <h3>участником конкурса</h3>
                </div>
            </div>
            <div class="text-wrapper">
                <p>
                Для того чтобы выиграть футболку или стать
                участником финала и выиграть ноутбук и принять
                участие в борьбе за поездку на двоих тебе нужно:
                </p>
            </div>
            <div class="block-for-line1 popup-line"></div>
            <div class="number-one">1</div>
            <div class="block-for-line2 popup-line"></div>
            <div class="text-wrapper">
                <p>Налить 50 аппрувнутых лидов на любые офферы IKRA.TOP
                </p>
            </div>
            <div class="block-for-line3"></div>
            <div class="number-two">2</div>
            <div class="block-for-line4"></div>
            <div class="text-wrapper">
                <p>Налить 50 аппрувнутых лидов на любые офферы IKRA.TOP
                </p>
            </div>
            <div class="dialog-content">
                <p>Выиграть может каждый, поэтому выбирайте 
                офферы, настраивайте свои потоки, зовите Пахома
                или втирайте в себя Бруталин и забирайте призы!</p>
            </div>
            <a class="super-button">
                <span>Погнали!</span>                
            </a>
            <div class="bottom-text-wrapper">
                <p>Жмите кнопку, чтобы перейти в личный кабинет</p>
            </div>

        </div>      
    </div>

</div>