<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">Спасибо за заявку!</div>
                <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Узнать стоимость <br/> <span>продвижения </span> </h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Ссылка на сайт</p>
                            <input type="text" name="contact_site" required="required" value="" placeholder="www.site.com">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Вывод в топ</p>
                            <div class="radio-goup cfix">
                                <div class="con">
                                    <input type="radio" id="top50" name="go-to-top" value="top50" checked>  
                                    <label for="top50">                                        
                                        <span class="svitch"></span>
                                        <span class="text">Топ-50</span> 
                                    </label>
                                </div>
                                
                                <div class="con">
                                    <input type="radio" id="top10" name="go-to-top" value="top10"> 
                                    <label for="top10">          
                                        <span class="svitch"></span>
                                        <span class="text">Топ-10 </span>
                                    </label>
                                </div>
                                
                                <div class="con">
                                    <input type="radio" id="marks" name="go-to-top" value="marks"> 
                                    <label for="marks">                                    
                                        <span class="svitch"></span>
                                        <span class="text">Нужны оценки и отзывы</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="to200" name="go-to-top" value="to200"> 
                                    <label for="to200">                                    
                                        <span class="svitch"></span>
                                        <span class="text">До 200 в сутки</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="to500" name="go-to-top" value="to500"> 
                                    <label for="to500"> 
                                        <span class="svitch"></span>
                                        <span class="text">От 200 до 500 в сутки</span>
                                    </label>
                                </div>
                                <div class="con">
                                    <input type="radio" id="campain" name="go-to-top" value="campain">
                                    <label for="campain">                     
                                        <span class="svitch"></span>
                                        <span class="text">Нужна полноценная кампания</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Комментарии</p>
                            <textarea name="comments" placeholder="Дополнительные комментарии"></textarea>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Ваш e-mail</p>
                            <input type="email" name="contact_email" required="required" value="" placeholder="my@e-mail.com">
                        </div>
                    </div>
                </div>
                <p>Мы составим предварительное предложение и вышлем Вам его на e-mail</p>
            </div>
            <div class="contact-form-row-submit cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Рассчитать</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="call-popup2">
        <div class="main-wrapper">
            <img class="seljodka" src="images/seljodka.png">
            <img class="little-seljodka" src="images/little-seljodka.png">
            <div class="popup-main-heading">
                <div class="top-part">
                    <h2>Как стать</h2>
                </div>
                <div class="lower-part">
                    <h3>участником конкурса</h3>
                </div>
            </div>
            <div class="text-wrapper">
                <p>
                Для того чтобы выиграть футболку или стать
                участником финала и выиграть ноутбук и принять
                участие в борьбе за поездку на двоих тебе нужно:
                </p>
            </div>
            <div class="block-for-line1 popup-line"></div>
            <div class="number-one">1</div>
            <div class="block-for-line2 popup-line"></div>
            <div class="text-wrapper">
                <p>Налить 50 аппрувнутых лидов на любые офферы IKRA.TOP
                </p>
            </div>
            <div class="block-for-line3 popup-line"></div>
            <div class="number-two">2</div>
            <div class="block-for-line4 popup-line"></div>
            <div class="text-wrapper">
                <p>Налить 50 аппрувнутых лидов на любые офферы IKRA.TOP
                </p>
            </div>
            <div class="block-for-line5 popup-line"></div>
            <div class="block-for-line6 popup-line"></div>
            <div class="dialog-content">
                <p>Выиграть может каждый, поэтому выбирайте 
                офферы, настраивайте свои потоки, зовите Пахома
                или втирайте в себя Бруталин и забирайте призы!</p>
            </div>
            <a class="super-button">
                <span>Погнали!</span>                
            </a>
            <div class="bottom-text-wrapper">
                <p>Жмите кнопку, чтобы перейти в личный кабинет</p>
            </div>

        </div>      
    </div>

    <div id="call-popup3">
        <div class="about-us">
            <div class="contein">
                <div class="top-name">О нас</div>
                <div class="slogan"> <b>IKRA.TOP</b> одна из самых крупных и привлекательных СРА сетей Рунета</div>
                <div class="we-are"> Мы - команда людей, которые давно работают в CPA сфере. Мы видим, что происходит на рынке и считаем самым главным правилом для ПП - это качество и честность, поэтому ИКРА – честная ПП для вебмастеров, которые смогут зарабатывать с нами. </div>
                <div class="center-text">Дайте хороший старт вашему заработку</div>
                <div class="after-small">Начните работать сейчас. Регистрируйтесь и начинайте зарабатывать</div>
                <div class="buttoner">
                    <a href="#" class="butt">
                        <span>Начать работу</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="call-popup4">
        <form action="ajax.php" name="" class="contact-form-add">
            <div class="contact-form-title">
                <h5> Контакты </h5>
            </div>
            <div class="supreme">
                <a href="" class="left">
                    <b>E-mail</b>
                    <span>team@ikra.top</span>
                </a>
                <a href="" class="right">
                    <b>Skype</b>
                    <span> support.ikra </span>
                </a>
            </div>
            <div class="contact-form-row cfix">
                <div class="con-row">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <p>Ваше имя</p>
                                <input type="text" name="contact_name" required="required" value="" placeholder="Ваше имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <p>Ваш e-mail</p>
                                <input type="email" name="contact_email" required="required" value="" placeholder="my@e-mail.com">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <p>Комментарии</p>
                            <textarea name="comments" placeholder="Дополнительные комментарии"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-submit cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="call-popup5">
        <div class="about-us">
            <div class="contein">
                <div class="top-name">О партнерской программе</div>

                <div class="content-rules">
                    <div class="ctext">
                        <p> Правила партнерской программы IKRA для вебмастеров и рекламодателей. </p>
                        <ol>
                            <li> Общие положения.
                                <ol>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                            <li> Предмет соглашения.
                                <ol>
                                    <li>Компания IKRA (далее Компания) управляет и разрешает использование партнёрской программы, размещённой на домене IKRA.TOP.</li>
                                    <li>При регистрации Стороны соглашаются с тем, что Компания протоколирует и отслеживает все действия рекламодателей и вебмастеров, а также ведёт расчёты, принимает вознаграждение от рекламодателей и выплачивает заработанные средства вебмастерам, если сделка осуществлялась. Сделкой может выступать покупка товара, оформленная заявка на покупку товара или услуги, регистрация, и пр. Согласно собранным данным, Компания определяет состоялась сделка или нет.</li>
                                    <li>Компания вправе приостановить свои услуги на время проведения технических и профилактических работ. Убытки, понесённые вебмастерами за этот период Компания компенсировать не обязуется..</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                            <li> Общие положения.
                                <ol>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                            <li> Предмет соглашения.
                                <ol>
                                    <li>Компания IKRA (далее Компания) управляет и разрешает использование партнёрской программы, размещённой на домене IKRA.TOP.</li>
                                    <li>При регистрации Стороны соглашаются с тем, что Компания протоколирует и отслеживает все действия рекламодателей и вебмастеров, а также ведёт расчёты, принимает вознаграждение от рекламодателей и выплачивает заработанные средства вебмастерам, если сделка осуществлялась. Сделкой может выступать покупка товара, оформленная заявка на покупку товара или услуги, регистрация, и пр. Согласно собранным данным, Компания определяет состоялась сделка или нет.</li>
                                    <li>Компания вправе приостановить свои услуги на время проведения технических и профилактических работ. Убытки, понесённые вебмастерами за этот период Компания компенсировать не обязуется..</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                            <li> Общие положения.
                                <ol>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                            <li> Предмет соглашения.
                                <ol>
                                    <li>Компания IKRA (далее Компания) управляет и разрешает использование партнёрской программы, размещённой на домене IKRA.TOP.</li>
                                    <li>При регистрации Стороны соглашаются с тем, что Компания протоколирует и отслеживает все действия рекламодателей и вебмастеров, а также ведёт расчёты, принимает вознаграждение от рекламодателей и выплачивает заработанные средства вебмастерам, если сделка осуществлялась. Сделкой может выступать покупка товара, оформленная заявка на покупку товара или услуги, регистрация, и пр. Согласно собранным данным, Компания определяет состоялась сделка или нет.</li>
                                    <li>Компания вправе приостановить свои услуги на время проведения технических и профилактических работ. Убытки, понесённые вебмастерами за этот период Компания компенсировать не обязуется..</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                    <li>Рекламодателю предоставляется возможность рекламировать свои товары и услуги и получать заявки на приобретение товаров и услуг, за что рекламодатель обязан выплатить вознаграждение.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>